body {
  background-image: url('/react/src/assets/images/bg-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif; 
}
